<% include partials/_header %>
<% include partials/_nav %>

<main class="d-flex justify-content-center align-items-center">
    <div class="container bg-white" id="conLogin">
        <div class="row p-3" id="top-link">
            <div class="col d-flex justify-content-center align-items-center" id="singIn">
                <p class="text-white mb-0">SIGN IN</p>
            </div>
        </div>
        <div class="row p-5">

            <div class="col-sm-12">

                <label for="" style="color: #323271" class="text-muted">EMAIL</label>
                <input type="text" class="input-email border-bottom">

            </div>
            <div class="col-sm-12 mt-3">

                <label for="" style="color: #323271" class="text-muted">PASSWORD</label>
                <input type="password" class="input-email border-bottom"">

            </div>
            <div class=" col-sm-12 mt-4">
                <input type="checkbox" id="checkLogin">
                <label for="checkLogin" class="text-muted">
                    Keep me Signed in
                </label>
            </div>
            <div class="col-sm-12 mt-4">

                <button type="submit" class="btn btn-block text-white" id="subLogin">SIGN IN</button>

            </div>

            <div class="col-sm-12 mt-4 text-center">

                <p class="text-muted">Forgot Password ?</p>

            </div>



        </div>

    </div>
</main>


<% include partials/_footer %>